<div class="centered">
    <h1>Can we take your order?</h1>
    <img src="/assets/img/hamburger.png" class="rounded" alt="hamburger">>
</div>
<!--will hold all the burgers in the array -->
<div class="container holder">
    <div class="col-5 left-side">
        <!--burgers on this side will have devour= true or devour = null -->
        <div class="card">
            <h2 class="centered">Burgers that are up for grabs!</h2>
        </div>

        <div class="card">
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <p>
                    {{> burgers/burger-block devour=true}}
                </p>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="col-5 right-side">
        <!--burgers on this side will have devour= false or devour = 1 -->
        <div class="card">
            <h2 class="centered">Burgers that are devoured</h2>
        </div>

        <div class="card">

            {{#each burgers}}
            {{#if devoured}}
            <p>
                {{> burgers/burger-devoured-block devour=false}}
            </p>
            {{/if}}
            {{/each}}

        </div>
    </div>
</div>
<!--This is the basic form that will add a burger into the array-->
<div class="centered">
    <h2>Add a Hamburger</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="bun">Burger Name:</label>
            <input type="text" id="bun" name="burger_name">
        </div>

        <button type="submit">Add Burger</button>
    </form>
</div>