<table width='90%'>
    <tr>
        <!--This partial handlebars will be used to diplay the non devoured-->
        <td>
            {{burger_name}}
        </td>
        <!--Two buttons that will change the burger the remake button or delete the burgetr completely -->

        <td align="right">
            <button class="change-remake" data-id="{{id}}" data-newdevour="{{remake}}">
                {{#if devoured}}Remake it!{{/if}}
            </button>
            <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
        </td>
    </tr>
</table>