<table width='90%'>
    <tr>
        <td>
            {{burger_name}}
        </td>
        <td align="right">
            <button class="change-remake" data-id="{{id}}" data-newdevour="{{remake}}">
                {{#if devoured}}Remake it!{{/if}}
            </button>
            <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
        </td>
    </tr>
</table>