<table width='90%'>
    <tr>
        <td>
            {{burger_name}}
        </td>
        <td align="right">
            <button class="change-devour" data-id="{{id}}" data-newsleep="{{sleep}}">
                {{#if devour}}Devour it!{{/if}}
            </button>
        </td>
    </tr>
</table>